@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Sacramento", cursive;
    font-size: 30px;
    font-style: normal;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow:hidden;
}

/*säiliö kuvilla*/
.container{
    display:flex;
    width:90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:80vh;
    border-radius: 50px;
    flex:0.5;
    position:relative;
    transition: flex 0.5s ease-in;
    color:#fff;
    cursor:pointer;
    margin:10px;
}

/*kuvatekstin tyyli*/
.panel h3{
    position:absolute;
    bottom:0px;
    left:30px;
    opacity:0;
}

/*jos kuva on aktiivinen*/
.panel.active{
    flex:5;
}

/*teksti aktiivisessa kuvassa*/
.panel.active h3{
    opacity:1;
     transition: opacity 0.4s ease-in 0.4s;
}

/*jos näytön leveys alle 480px*/
@media(max-width:480px){
    .container{
        width:100vw;
    }

    /*jättää vain 3 kuvaa näytölle*/
    .panel:nth-of-type(4),.panel:nth-of-type(5),.panel:nth-of-type(6),.panel:nth-of-type(7){
        display:none;
    }
}